body {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    /* color: #fff; */
}

img {
    border-radius: 50%;
}

.main-div {
    background-color: #222;
    display: flex;
    justify-content: center;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.logo-item {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.logo-item a:nth-of-type(1) {
    padding: 0;
}

.logo-item a:nth-of-type(2) {
    font-size: 22px;
    padding: 15px;
    letter-spacing: 1.1px;
    color: #9d9d9d;
}

.logo-item a .logo-name {
    color: #fff;
}

.logo-item a:hover {
    color: #fff;
}

.navbar-item a {
    font-size: 15px;
    font-weight: 400;
    padding: 9px 15px;
    color: #9d9d9d;
    line-height: 20px;
}

.navbar-item a:hover {
    color: #fff;
}

#podcast {
    color: #fffd82;
}
